{% extends "base.html" %}
{% block content %}
<html>
<body>
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tweet</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/tweet">Tweet</a></li>
        <li class = "active"><a href="/insta"> Insta Post</a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>tweet-insta</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/tweet">{{ name.capitalize() }} tweets</a></li>
        <li class="active"><a href="/insta"> Insta Download</a></li>

      </ul><br>
    </div>
    <br>

    <div class="col-sm-9">
      <div class="well">
        <h4>Insta Download</h4>
         <!DOCTYPE HTML>



		<link rel="icon" href="https://cdn3.iconfinder.com/data/icons/picons-social/57/78-instagram-128.png" type="image/x-icon">

	</head>
	<body>
		<div class="container">
		<p><b>Download Instagram HD Photos (Full size): right click > save image </b></p>
		<form action="" method="POST" >
			<input type="url" id="input" name="iurl" placeholder="Enter image's link, https://www.instagram.com/p/BZtAXk7H4AG/?taken-by=geeksambhu" autocomplete="off" required >
			<div class="downloadimage">
          <input type="submit" value="Download">

            </div>
		</form>
      {% if image %}
          <a href="{{image}}" download="image.JPG">Download</a>
          {% endif %}
		</div>
	</body>


      </div>
    </div>
  </div>
</div>
</div>

</body>
{% endblock %}