{% extends "base.html" %}
{% block content %}
<html>
<body>
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tweet</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/tweet">Tweet</a></li>
        <li class = "active"><a href="/insta">{{ name.capitalize() }} Insta Post</a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>tweet-insta</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/tweet">{{ name.capitalize() }} tweets</a></li>
        <li class="active"><a href="/insta">{{ name.capitalize() }} Insta posts</a></li>

      </ul><br>
    </div>
    <br>

    <div class="col-sm-9">
      <div class="well">
        <h4>Insta Posts of {{ name.capitalize() }}</h4>
         <ol class="list-group">
             <li class="list-group-item"> Insta posts</li>
         </ol>

      </div>
    </div>
  </div>
</div>
</div>

</body>
{% endblock %}